$main: #ffcb05;

:root {
  font-size: 10px; }
@media only screen and (max-width: 1280px) {
  :root {
    font-size: 0.8vw; } }

@media only screen and (max-width: 1080px) {
  :root {
    font-size: 7.9px; } }

@media only screen and (max-width: 990px) {
  :root {
    font-size: 7px; } }

@media only screen and (max-width: 676px) {
  :root {
    font-size: 6px; } }
@media only screen and (min-width: 1440px) {
    #main .world_block{
        font-size:14px;
    }
}
@font-face {
    font-family: AvenirL; 
    src: url('../fonts/AvenirNext-UltraLight.woff');
}
@font-face {
    font-family: AvanirNext; 
    src: url('../fonts/AvenirNext-Medium.woff');
}
@font-face {
    font-family: Avenir;
    src: url('../fonts/AvenirNext-Regular.woff');
} 
body{
    background:#050505;
}
#main{
    width:100%;
    height:100vh;
    background:#050505;
    overflow: hidden;
}
#main.main--scroll{
    overflow:auto;
    height:100%;
    // height:auto;
}
//////animation

@-webkit-keyframes pulsing {
    0% {
        transform: scale(0);
        border-width: 2px;
    }
    70% {
        opacity: 0.7;
    }
    100% {
        transform: scale(1.8);
        opacity: 0;
    }
}

// text section
.start_text {
    display: table;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #000000;
    text-align: center;
    z-index: 5;
    transition: all 1.2s linear;
    box-shadow: 0 15px 7px rgba(0, 0, 0, 0.8);
    top:0;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;  
}

.start_text-up{
   transform:translateY(-110%);
}

.start_text-center {
    position: relative;
    display: table-cell;
    width: 100%;
    height: 100vh;
    vertical-align: middle;
}

.start_text-title {
    transition-duration: 0.3s;
    font-size: 12rem;
    font-family: "AvenirL";
    font-weight: 100;
    color: #2092d2;
    line-height: 1.035;
    margin-top: 6.66rem;
    display: inline-block;
    text-align: center;
    &>span{
        display:inline-block;
        position:relative; 
        text-align: center;
    }
}

// world section 
.logo_img{
    width:100%;
    height:100%;
}
.logo_link{
    position: absolute;
    top: 5.1rem;
    left: 5.5rem;
    width: 5.7rem;
    height: 2.7rem;
    z-index: 3;
}
.join-us_form{
    z-index: 3;
    position: absolute;
    bottom: 11.9rem;
    right: 6.5rem;
    text-align: right;
}
.join-us_submit{
    display:none;
}
.join-us_title{
    font-size: 7.2rem;
    font-family: "AvenirL";
    color: #48aae1;
    line-height: 1;
    position: absolute;
    right: 16rem;
    bottom: 21.2rem;
    z-index: 1;
    text-align: right;
    &>span{
        display:block;
    }
}

.world_block{
    position:absolute;
    width:100em;
    left:0;
    right:0;
    bottom:0;
    background:url(../img/world_new.jpg) no-repeat bottom center;
    background-color:#050505;
    background-size:100% auto;
    z-index: 1;
    font-size: 1vw;
    min-height: 900px;
}
.circle_point{
    width: .95em;
    height: .95em;
    background: red;
    position: absolute;
    border-radius: 50%;
    // transition-duration:0.5s;
}
.pulsing_item{
    background: white;
    opacity: 0;
    position: absolute;
    width: 2.6em;
    height: 2.6em;
    border-radius: 50%;
    top: -0.825em;
    left: -0.825em;
    -webkit-animation: pulsing 2s linear -2s infinite;
    -o-animation: pulsing 2s linear -2s infinite;
    -moz-animation: pulsing 2s linear -2s infinite;
    -ms-animation: pulsing 2s linear -2s infinite;
    animation: pulsing 2s linear -2s infinite;
}
.circle_point span.circle_point__hover-area{
    cursor: pointer;
    display: block;
    width: 3.6em;
    height: 3.6em;
    top: -1.15em;
    left: -1.15em;
    position: absolute;
    background: none;
    // &:hover ~ .circle_point__group{
    //     opacity:1;
    // } 
}
.circle_point__group.circle_point__group--visible{
    opacity:1;
}
.world{
    width:100%;
    opacity:0;
    // transition-duration: 4s;
    background:#050505;
    position:relative;
    max-width: 1440px;
    min-height: 900px;
    height:100vh;
    overflow:hidden;
    position:relative;
}
.animate_world{
    opacity:1;
}

.circle_1{
    left: 31.95em;
    bottom: 1.67em;
    background: #6f4199;
    &>span{
        background: #6f4199;
    }
}
.circle_2{
    left: 29.95em;
    bottom: 4.28em;
    background: #6f4199;
    &>span{
        background: #6f4199;
    }
}
.circle_3{
    left: 29.95em;
    bottom: 4.3em;
    background: #0da6df;
    &>span{
        background: #0da6df;
    }
}
.circle_4{
    left: 40.2em;
    bottom: 14.55em;
    background: #6f4199;
    &>span{
        background: #6f4199;
    }
}
.circle_5{
    left: 32.8em;
    bottom: 14.77em;
    background: #0da6df;
    &>span{
        background: #0da6df;
    }
}
.circle_6{
    left: 21.75em;
    bottom: 23.8em;
    background: #0da6df;
    &>span{
        background:#0da6df;
    }
}
.circle_7{
    left: 30.6em;
    bottom: 43.6em;
    background: #6f4199;
    &>span{
        background:#6f4199;
    }
}
.circle_8{
    left: 54em;
    bottom: 35.5em;
    background: #0da6df;
    &>span{
        background:#0da6df;
    }
}


.animeTextBlack {
    color: transparent;
    &:after {
        content: "";
        position: absolute;
        width: 0;
        top: 0;
        left: 0;
        height: 110%;
        background-color: #2092d2;
        transition-duration: .5s;
    }
} 
.animeText1 {
    &:after {
        width: 100%;
    }
}
.animeText2 {
        &:after {
        right: 0;
        left: auto;
    }
}
.animeText3 {
    &:after {
        width: 0
    }  
}
// .hyperloop_link{
//     font-size: 1.35rem;
//     font-family: "AvenirL";
//     font-weight: 600;
//     color: rgba(248, 246, 252, 0.602);
//     z-index: 3;
//     text-decoration: none;
//     letter-spacing: 0.035rem;
//     position:absolute;
//     bottom: 2.5rem;
//     left: 2.5rem;
//     padding:2.5rem;
//     transition-duration:1s;
//     &:hover{
//         color:#fff;
//         background:#47a7df;
//     }
// }
.circle_point__group{
    font-size: 1.65em;
    font-family: "AvenirL";
    color: #fff;
    text-align: left;
    font-weight: 600;
    right: 0;
    position: absolute;
    width: auto;
    letter-spacing: 0.02em;
    line-height: 1.25em;
    top: -0.1em;
    margin-right: 3em;
    display:inline-block;
    opacity:0;
    transition-duration:0.5s;
}
.group__direction-group{
    white-space:nowrap;
    display:block;
    text-shadow: 1px 1px 0px #000;
}
.group__time-label{
    text-shadow: 1px 1px 0px #000;
}
.group__start-label,.group__finish-label{
    display:inline-block;
}
.group__start-label{
    margin-right: 0.2em;
}
.purple_circle{
    .group__start-label{
        color:#b273ec;
    }
    .group__finish-label{
        color:#0da6df;
    }
}
.blue_circle{
    .group__start-label{
        color:#0da6df;
    }
    .group__finish-label{
        color:#b273ec;
    }
}
.circle_4 .circle_point__group{
    margin-right: 0;
    top: auto;
    right: -6em;
    bottom: 0;
    margin-bottom: 2em; 
}
// FORM 
#rsvp-form{
    background: rgba(0, 0, 0, 0.55);
    display: inline-block;
    position: absolute;
    right: 8.1rem;
    bottom: 16rem;
    width: 39.5rem;
    height: 64.3rem;
    border-radius: 1rem;
    z-index: 3;
    font-family: Avenir;
    padding: 4.3rem 2.9rem;
    box-sizing: border-box;
    text-align:left;
    border:1px solid #282828;
}
.rsvp-form__before-title{
    color: white;
    line-height: 1.64;
    font-size: 2.3rem;
    letter-spacing: 0.57rem;
}
.rsvp-form__title{
    font-size: 6.4rem;
    color: #0da6df;
    line-height: 0.8;
    margin-bottom:3rem;
}
.rsvp-form__min-title{
    font-size: 1.2rem;
    color: #fff;
    margin-top: 1.9rem;
    padding-left: 0.4rem;
    letter-spacing: 0.15rem;
    font-weight: 600;
    font-family: AvanirNext;
}
.rsvp-form__min-text{
    font-size: 1.4rem;
    color: white;
    margin-top: 0.6rem;
    font-family: AvenirL;
    padding-left: 0.5rem;
    letter-spacing: -0.04rem;
    line-height: 1.6;
    margin-bottom:2.2rem;
    font-weight: 600;
}
.rsvp-form__input{
    box-sizing:border-box;
    font-size: 1.55rem;
    font-family: "AvenirL";
    color: #898989;
    height: 4.3rem;
    margin-bottom: 1.2rem;
    border-radius: 0.7rem;
    padding-left: 1.9rem;
    letter-spacing: -0.06rem;
    padding-right: 1.9rem;
    font-weight: 600;
    float: left;
    border:1px solid #606060;
    background:#000;
    &::-webkit-input-placeholder {
        color:#898989;
    }
    &::-moz-placeholder {
        color:#898989;
    }
    &:-ms-input-placeholder {
        color:#898989;
    }
    &:-moz-placeholder {
        color:#898989;
    }
}
.rsvp-form__input-error{
    border-color:red;
}
.rsvp-form__input-container{
    display:inline-block;
    margin-bottom:0.3rem;
}
.rsvp-form__input:nth-child(1){
    width: 43%;
}
.rsvp-form__input:nth-child(2){
    width: 54%;
    margin-left: 3%;
}
.rsvp-form__input:nth-child(3){
    width: 100%;
    height:4.3rem;
}
.rsvp-form__check{
    font-size: 1.4rem;
    color: white;
    position:relative;
    margin-top: 0.2rem;
    font-family: AvenirL;
    padding-left: 3.5rem;
    font-weight: 600;
    letter-spacing: -0.04rem;
    line-height: 1.6;
    margin-bottom: 1.4rem;
    display: inline-block;
    cursor:pointer;
}
input[type=radio] { 
    display:none; 
}
input[type=radio] + label:before {
    position: absolute;
    content: '';
    display: inline-block;
    border: 1px solid #606060;
    background: transparent;
    width: 2rem;
    height: 2rem;
    left: 0.4rem;
    border-radius: 0.5rem;
}
.join-us__submit{
    display:none;
}
input[type=radio]:checked + label:after { 
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 0.4rem;
    background: #0da6df;
    border: 1px solid transparent;
    border-radius: 0.5rem;
}
.rvsp-from__btn{
    font-size: 1.6rem;
    font-family: "Avenir";
    background: #0da6df;
    color: #fff;
    display: inline-block;
    padding: 0.65rem 2.6rem;
    margin-top: 3.3rem;
    border-radius: 0.5rem;
    border:2px solid #0da6df;
    transition-duration:0.3s;
    cursor:pointer;
    &:hover{
        background:none;
    }
}

.thank-block__title {
    font-size: 2.4rem;
    font-family: "AvenirL";
    color: rgb(13, 166, 223);
    font-weight: 600;
    margin-top: 2rem;
}
.reserv-form__thank-block{
    display: table;
    background:#000;
    position: relative;
    width: 100%;
    height: 26rem;
    text-align: center;
}
.thank-block__content{
    position: relative;
    display: table-cell;
    width: 100%;
    height: 26rem;
    vertical-align: middle;
    text-align: left;
}
.thank-block__text{
    font-size: 1.4rem;
    color: white;
    margin-top: 0.6rem;
    font-family: AvenirL;
    padding-left: 0.5rem;
    line-height: 1.7;
    margin-bottom: 2.2rem;
    font-weight: 600;
    padding-right: 4rem;
    letter-spacing: -0.01rem;
}

.resv-form__send-area{
    // display:none;
}
.reserv-form__thank-block{
    display:none;
}
.error_message{
    font-family: "Avenir";
    color: red;
    margin-left: 3rem;
    font-size: 2rem;
    display: inline-block;
    vertical-align: top;
    width: 16rem;
    margin-top: 3.3rem;
}