@media only screen and (max-width: 1440px) {
	.join-us_title{
		font-size: 5vw;
	}
}
@media only screen and (max-width: 1366px) {
	.circle_4 .circle_point__group{
		margin-bottom:3em;
	}
}
@media only screen and (max-width: 920px) {
	.start_text-title{
		font-size: 11.4vw;
	}
}
@media only screen and (max-width: 950px) {
	.rsvp-form__input{
		font-size: 1.7rem;
	}
	.rsvp-form__min-title{
		font-size:1.8rem;
	}
	.rsvp-form__check,.rsvp-form__min-text{
		font-size: 1.6rem;
	}
	.thank-block__title{
		padding-left:0.5rem;
		letter-spacing: 0.3px;
		margin-right: 2em;
	}
	#rsvp-form{
	    position: relative;
	    right: auto;
	    bottom: auto;
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    width:52rem;
	    margin-top: 5rem;
	    height:auto;
	    margin-bottom:85vw;
	}
	.circle_point__group{
		font-size: 2.2em;
		letter-spacing: 0px;
		margin-right: 2em;
	}
	.hyperloop_link{
		position: relative;
		bottom: auto;
		margin-top: 3rem;
		left: auto;
		margin-left: 0rem;
		display: inline-block;
		font-size: 1.6rem;
	}
	.logo_link{
		position: relative;
		left: auto;
		right: auto;
		margin: 0 auto;
		top: auto;
		width: 3.8rem;
		display: block;
		height: 1.8rem;
	}
	.world{
		padding-top:6.45rem;
		position:relative;
		padding-bottom:3rem;
		overflow:hidden;
		height:auto;
		text-align: center;
		min-height: 100vh;
		box-sizing:border-box;
		font-size: #000;
	}
	.world_block{
		background:url(../img/world_min.jpg) no-repeat bottom center;
		background-size:100% auto;
	    height: 85vw;
	    margin-top: 0rem;
	    position: absolute;
	    top: auto;
	    bottom: 0;
	    left: auto;
	    right: auto;
	    margin-top: 10rem;
	    width: 100em;
	    margin-left: -15%;
	    font-size: 1.299vw;
	    min-height: 0;
	}
	.circle_1{
	    left: 47.8em;
	    bottom: 0.87em;
	}
	.circle_2{
	    left: 45.8em;
	    bottom: 3.48em;
	}
	.circle_3{
	    left: 45.8em;
	    bottom: 3.5em;
	}
	.circle_4{
	    left: 56.05em;
	    bottom: 13.75em;
	}
	.circle_5{
	    left: 48.65em;
	    bottom: 13.97em;
	}
	.circle_6{
	    left: 37.60em;
	    bottom: 23em;
	}
	.circle_7{
	    left: 46.45em;
	    bottom: 42.8em;
	}
	.circle_8{
		left: 69.9em;
		bottom: 34.9em;
	}
}
@media only screen and (max-height: 900px) and (min-width: 951px) {
	.world{
		min-height: 65rem;
	}
	.world_block{
		font-size: 1.45vh;
	}
	#rsvp-form{
		bottom: 0;
		top: 0;
		margin-bottom: auto;
		margin-top: auto;
	}
}
@media only screen and (max-width: 550px) {
	.circle_6 .group__finish-label,
	.circle_5 .group__finish-label,
	.circle_3 .group__finish-label{
		display:block
	}
}