head
  title RSVP Hyperloop One // Vision for India
  meta(charset='UTF-8')
  meta(name="keywords", content="Hyperloop")
  meta(name="description", content="")
  meta(name="author", content="")
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
  link(rel="shortcut icon" type="image/png" href="img/favicon.png")
  link(href='css/reset.css',rel="stylesheet")
  link(href='css/layout.css',rel="stylesheet")
  link(href='css/mobile.css',rel="stylesheet")