<script src="js/jquery_v3.js"></script><script src="js/wow.min.js"></script><script src="js/script.js"></script><script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5nsNwdMguB2Rz2arld3E3iizjpBtA3lI&amp;callback=initMap" async="async" defer="defer"></script>