<div class="svg_all">
  <svg xmlns="http://www.w3.org/2000/svg">

    <symbol id="icon_fb"> <!-- (viewBox="0 0 408.788 408.788") -->
      <path style="fill:#475993;" d="M353.701,0H55.087C24.665,0,0.002,24.662,0.002,55.085v298.616c0,30.423,24.662,55.085,55.085,55.085	h147.275l0.251-146.078h-37.951c-4.932,0-8.935-3.988-8.954-8.92l-0.182-47.087c-0.019-4.959,3.996-8.989,8.955-8.989h37.882 v-45.498c0-52.8,32.247-81.55,79.348-81.55h38.65c4.945,0,8.955,4.009,8.955,8.955v39.704c0,4.944-4.007,8.952-8.95,8.955 l-23.719,0.011c-25.615,0-30.575,12.172-30.575,30.035v39.389h56.285c5.363,0,9.524,4.683,8.892,10.009l-5.581,47.087 c-0.534,4.506-4.355,7.901-8.892,7.901h-50.453l-0.251,146.078h87.631c30.422,0,55.084-24.662,55.084-55.084V55.085 C408.786,24.662,384.124,0,353.701,0z"/></path>
    </symbol>

    <symbol id="icon_tw">   <!-- viewBox="0 0 352 352" -->
      <path style="fill:#2A445D;" d="M259.104,279.929c0,0-10.445,12.012-30.291,12.012s-28.724-12.012-28.724-29.768
	c0-7.134,0-50.861,0-100.619h64.17v-60.977h-64.17c0-53.98,0-100.577,0-100.577h-48.321c-7.551,45.134-37.31,82.718-77.674,101.165
	v60.388h47.135c0,58.694,0,111.822,0,115.87c0,16.085,15.145,74.577,92.439,74.577c45.436,0,64.237-29.246,64.237-29.246
	L259.104,279.929z"/></path>
    </symbol>

    <symbol id="icon_m">  <!-- 0 0 393.541 393.541 -->
     	<path style="fill:#00FD8D;" d="M384.045,363.079L262.84,304.812L261.927,40.68c-0.021-6.166,6.416-10.229,11.973-7.557
		l114.908,55.256c2.893,1.391,4.733,4.318,4.733,7.528v261.201C393.54,361.989,388.443,365.194,384.045,363.079z"/>
		<path style="fill:#00E470;" d="M262.84,304.812L131.66,241.74L257.948,33.818c2.231-3.673,6.886-5.054,10.759-3.192l116.514,56.029
			c4.454,2.142,6.085,7.661,3.51,11.879L262.84,304.812z"/>
		<path style="fill:#00C967;" d="M262.84,304.812L131.66,241.74L11.421,45.942c-3.35-5.455,2.479-11.914,8.248-9.14L131.66,90.655
			L262.84,304.812z"/>
		<path style="fill:#00AD6C;" d="M122.164,363.078l-118.41-56.94C1.459,305.034,0,302.713,0,300.167V37.548
			c0-4.726,4.937-7.831,9.197-5.782L131.66,90.655v266.452C131.66,361.988,126.562,365.193,122.164,363.078z"/>
    </symbol>

    </svg>
</div>



