form#rsvp-form
    p.rsvp-form__before-title VISION FOR INDIA
    h1.rsvp-form__title RSVP
    p.rsvp-form__min-title WHEN
    p.rsvp-form__min-text February 28th - 2:15pm - 4pm <br> Doors open at 2pm
    p.rsvp-form__min-title WHERE
    p.rsvp-form__min-text The Taj Mahal Hotel, New Delhi<br> Longchamp (rooftop space)<br> 1 Mansingh Road,  New Delhi,  Delhi - 110011  INDIA
    .resv-form__send-area
        .rsvp-form__input-container
            input.rsvp-form__input(type="text",placeholder="First Name",id="NameString",name="name")
            input.rsvp-form__input(type="text",placeholder="Last Name",id="SurnameString",name="lastname")
            input.rsvp-form__input(type="text",placeholder="Email",id="EmailString",name="msg")
        input.radio_btn(id="box1",type="radio",name="join",checked)
        label.rsvp-form__check(for="box1") Delighted to Attend
        div
        input.radio_btn(id="box2",type="radio",name="join")
        label.rsvp-form__check(for="box2") Regretfully Cannot Join
        input.join-us__submit(type="submit",value="Submit")
        div
        span.rvsp-from__btn Submit
        span.error_message Please try again, query error.
    .reserv-form__thank-block
        .thank-block__content
            p.thank-block__title Thank you.
            p.thank-block__text Your response has been recorded and a confir&shy;mation email will be sent to you shortly.  If you have any questions, please reach out to hyperloop-one@quintessentially.com
    
