section.start_text
    .start_text-center
        h1.start_text-title
            span.animation_text.animeTextBlack a transformative
            div
            span.animation_text.animeTextBlack new journey
            div
            span.animation_text.animeTextBlack for India.