section.world
    a.logo_link(href="http://hyperloop-one.com")
        img.logo_img(src="img/hyperloop.png", alt="hyperloop")
    .world_block
        div.circle_point.circle_1.purple_circle
        div.circle_point.circle_2.purple_circle
        div.circle_point.circle_3.blue_circle
            span.pulsing_item
            span.circle_point__hover-area
            div.circle_point__group
                p.group__direction-group
                    span.group__start-label kochi 
                    | - 
                    span.group__finish-label thiruvanthapuram 
                p.group__time-label 13mins 
        div.circle_point.circle_4.blue_circle
            span.pulsing_item
            span.circle_point__hover-area
            div.circle_point__group
                p.group__direction-group
                    span.group__start-label bangalore 
                    | - 
                    span.group__finish-label chennai 
                p.group__time-label 21mins 
        div.circle_point.circle_5.blue_circle
            span.pulsing_item
            span.circle_point__hover-area
            div.circle_point__group
                p.group__direction-group
                    span.group__start-label bangalore 
                    | - 
                    span.group__finish-label thiruvanthapuram 
                p.group__time-label 42mins 
        div.circle_point.circle_6.blue_circle
            span.pulsing_item
            span.circle_point__hover-area
            div.circle_point__group
                p.group__direction-group
                    span.group__start-label mumbai 
                    | - 
                    span.group__finish-label chennai 
                p.group__time-label 76mins 
        div.circle_point.circle_7.purple_circle
            span.pulsing_item
            span.circle_point__hover-area
            div.circle_point__group
                p.group__direction-group
                    span.group__start-label delhi 
                    | - 
                    span.group__finish-label mumbai 
                p.group__time-label 80mins 
        div.circle_point.circle_8.blue_circle
            span.pulsing_item
            span.circle_point__hover-area
            div.circle_point__group
                p.group__direction-group
                    span.group__start-label kolkata 
                    | - 
                    span.group__finish-label chennai 
                p.group__time-label 95mins 
    include form.jade
    //- a.hyperloop_link(href="http://hyperloop-one.com") Learn more about Hyperloop One